extends layout 
 
block content 
  h1= title 
 
  - let shopperstopid = toShow._id
  - let Itemname = toShow.Itemname 
  - let Quantity = toShow.Quantity 
  - let price = toShow.price 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{shopperstopid} 
    - let actionid = "/resource/shopperstops/" + shopperstopid 
    form(id='ShopperstopForm', action= actionid, method="PUT") 
        div.form-group 
            label.shopperstopAttr(for='Itemname') Item name 
            input#Itemname(type='text', name='Itemname', value= Itemname ) 
        div.form-group 
            label.shopperstopAttr(for='Quantity') Item quantity 
            input#Quantity(type='text', name='Quantity', value= Quantity ) 
        div.form-group 
            label.shopperstopAttr(for='price') Item cost 
            input#price(type='number', name='price', value= price ) 
        input(type="submit") 
 
  script. 
    document.forms['ShopperstopForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 